body {
    background-color: #3737ad;
    opacity: 1;
    background: linear-gradient(135deg, #23276e55 25%, transparent 25%) -21px 0/ 42px 42px, linear-gradient(225deg, #23276e 25%, transparent 25%) -21px 0/ 42px 42px, linear-gradient(315deg, #23276e55 25%, transparent 25%) 0px 0/ 42px 42px, linear-gradient(45deg, #23276e 25%, #3737ad 25%) 0px 0/ 42px 42px;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#wrapper {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper div, #wrapper ul {
    width: 50%;
    max-width: 300px;
}


ul {
    padding: 0px;
}

#titulo {
    font-size: 20px;
    font-weight: bold;
    background: white;
    padding: 10px;
}

.alternativa {
    list-style-type: none;
    margin-bottom: 4px;
    padding: 10px;
    background: #E6E6E6;
}

.alternativa:hover {
    cursor: pointer;
    opacity: 0.8;
}

#result {
    font-weight: bold;
}

#pontos, #result {
    color: white;
}
